@font-face {
  font-family: "Origo Pro";
  src: url("fonts/OrigoPro-Regular.eot");
  src: url("fonts/OrigoPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/OrigoPro-Regular.woff2") format("woff2"), url("fonts/OrigoPro-Regular.woff") format("woff"), url("fonts/OrigoPro-Regular.ttf") format("truetype"), url("fonts/OrigoPro-Regular.svg#Origo Pro") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "OrigiPro-Regular", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: teal;
}

.nav-links a {
  color: #004235;
}

/* LOGO */
.logo {
  font-size: 32px;
  height: 60px;
}
.logo img {
  height: 100%;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  font-family: "Origo Pro";
  font-weight: Regular;
  flex: 0.8;
}

.menu li:hover {
  border-bottom: 2px solid #4c9e9e;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services,
.languages {
  position: relative;
}

.dropdown {
  background-color: #4c9e9e;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown,
.languages:hover .lang {
  display: block;
}

.remove_on_mobile {
  display: flex;
  justify-content: space-between;
}
.remove_on_mobile select {
  margin-right: 10px;
}

.mobile-nav {
  display: none;
}

.lang {
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

.li_checkbox:hover {
  border-bottom: none !important;
}

.checkbox {
  display: flex;
  align-items: center;
}
.checkbox input[type=checkbox] {
  height: 18px;
}
.checkbox input[type=checkbox].switch {
  overflow: hidden;
  border: 0;
  border-radius: 999px;
  width: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  align-items: center;
  background: #fff;
  margin: 0;
  position: relative;
  border: 1px solid #d1d5db;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.checkbox input[type=checkbox].switch:before {
  content: "";
  width: 12px;
  height: 12px;
  transform: translatex(0);
  position: absolute;
  border-radius: 50%;
  margin: 2px;
  background: #d1d5db;
  transition: 0.2s ease-in;
}
.checkbox input[type=checkbox].switch:checked {
  background: #5048e5;
  border-color: #5048e5;
}
.checkbox input[type=checkbox].switch:checked:before {
  transform: translatex(100%);
  background: #fff;
}
.checkbox input[type=checkbox].switch ~ label {
  cursor: pointer;
  color: #374151;
  font-weight: 400;
  margin: 0 0 0 10px;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .remove_on_mobile {
    display: none;
  }
  .nav-links {
    width: 50%;
    display: flex;
  }
  .nav-links .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .nav-links .mobile-nav select {
    background-color: transparent;
  }
  .nav-links .mobile-nav select option {
    border-radius: 0px;
    width: 200px;
    text-transform: uppercase;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(191, 240, 240);
    top: 0px;
    right: 50%;
    left: 0;
    text-align: center;
    padding: 70px 0;
    height: 100%;
    font-family: "Origo Pro";
    font-weight: Regular;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    font-size: 35px;
  }
  .dropdown,
.lang {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}/*# sourceMappingURL=navbar.css.map */