<form class="contentform"
  action="https://formbold.com/s/3ZnWR"
  method="POST"
>
  <label for="email">Your email: </label>     
    <input type="email" name="email" id="email" title="email" placeholder="info@example.com" minlength="7" required="required">
    </br>
  <label for="message">Your message: </label>
    <textarea class="contentform" name="message" id="message" title="message" rows="6" placeholder="Your message" minlength="20" required="required"></textarea>
 </br> 
  <button type="submit">Send</button>
</form>