{% macro render_language(longlang=true) -%}
              <!-- Language -->
              <div class="languages">
                <select class="lang" onchange="window.location.href=this.value">
                  {% for t in section.translations -%}
                  {% if t.lang != config.default_language -%}
                      <option value="{{t.permalink}}"
                  {% else -%}
                      <option value="{{t.permalink}}"
                  {% endif -%}
                  {%- if t.lang == lang -%}
                  selected="selected"
                  {%- endif -%}
                  >
                  {%- if longlang -%}  
                  {{ trans(key=t.lang, lang=lang) }} ({{t.lang}})
                  {%- else -%}
                  {{ t.lang }}
                  {%- endif -%}
                    </option>     
                  {% endfor -%}  
                </select>
              </div>
{% endmacro render_language -%}              

{% macro metaOgpLangs() -%}
  {% for t in section.translations -%}
  {% if t.lang == lang -%}
    <meta property="og:locale" content="{{t.lang}}_{{t.lang | upper}}" />
  {% else -%}
    <meta property="og:locale:alternate" content="{{t.lang}}_{{t.lang  | upper}}" />
  {% endif -%}
  {% endfor -%}
{% endmacro metaOgpLangs -%}

{% macro checkBubble () -%}
<div class="tick flex justify-center align-center">
  <svg
    stroke="currentColor"
    fill="currentColor"
    stroke-width="0"
    version="1.2"
    baseProfile="tiny"
    viewBox="0 0 24 24"
    height="1em"
    width="1em"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M16.972 6.251c-.967-.538-2.185-.188-2.72.777l-3.713 6.682-2.125-2.125c-.781-.781-2.047-.781-2.828 0-.781.781-.781 2.047 0 2.828l4 4c.378.379.888.587 1.414.587l.277-.02c.621-.087 1.166-.46 1.471-1.009l5-9c.537-.966.189-2.183-.776-2.72z"></path>
  </svg>
</div>
{% endmacro %}